<h1 class="title">Exoplanet Catalogue</h1>

<section id="banner">
	<p><%= button_to 'Download Exoplanet Catalogue', download_path(format: :pdf), :class=>"btn btn-primary", :method => :get %></p>
</section>